# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

package-lock.json

# local test runtime config (run: "firebase functions:config:get > .runtimeconfig.json" in functions directory
.runtimeconfig.json